alabaster==0.7.13 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
alembic==1.9.4 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
amqp==5.1.1 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
apispec[marshmallow]==6.0.2 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
async-timeout==4.0.2 ; python_full_version >= "3.8.1" and python_version <= "3.11.2"
attrs==22.2.0 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
babel==2.11.0 ; python_full_version >= "3.8.1" and python_version < "4.0"
billiard==3.6.4.0 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
black==23.1.0 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
celery==5.2.7 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
certifi==2022.12.7 ; python_full_version >= "3.8.1" and python_version < "4"
charset-normalizer==3.0.1 ; python_full_version >= "3.8.1" and python_version < "4"
click-didyoumean==0.3.0 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
click-plugins==1.1.1 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
click-repl==0.2.0 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
click==8.1.3 ; python_full_version >= "3.8.1" and python_version < "4"
colorama==0.4.6 ; python_full_version >= "3.8.1" and python_version < "4" and sys_platform == "win32" or python_full_version >= "3.8.1" and python_version < "4" and platform_system == "Windows"
docutils==0.19 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
exceptiongroup==1.1.0 ; python_full_version >= "3.8.1" and python_version < "3.11"
flake8-bugbear==23.2.13 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
flake8-docstrings==1.7.0 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
flake8==6.0.0 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
flask-babel==3.0.1 ; python_full_version >= "3.8.1" and python_version < "4.0"
flask-cors==3.0.10 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
flask-jwt-extended==4.4.4 ; python_full_version >= "3.8.1" and python_version < "4"
flask-migrate==4.0.4 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
flask-smorest==0.40.0 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
flask-sqlalchemy==3.0.3 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
flask==2.2.3 ; python_full_version >= "3.8.1" and python_version < "4"
flask[dotenv]==2.2.3 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
greenlet==2.0.2 ; python_full_version >= "3.8.1" and platform_machine == "aarch64" and python_full_version < "4.0.0" or python_full_version >= "3.8.1" and platform_machine == "ppc64le" and python_full_version < "4.0.0" or python_full_version >= "3.8.1" and platform_machine == "x86_64" and python_full_version < "4.0.0" or python_full_version >= "3.8.1" and platform_machine == "amd64" and python_full_version < "4.0.0" or python_full_version >= "3.8.1" and platform_machine == "AMD64" and python_full_version < "4.0.0" or python_full_version >= "3.8.1" and platform_machine == "win32" and python_full_version < "4.0.0" or python_full_version >= "3.8.1" and platform_machine == "WIN32" and python_full_version < "4.0.0"
idna==3.4 ; python_full_version >= "3.8.1" and python_version < "4"
imagesize==1.4.1 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
importlib-metadata==6.0.0 ; python_full_version >= "3.8.1" and python_version < "3.10"
importlib-resources==5.12.0 ; python_full_version >= "3.8.1" and python_version < "3.9"
iniconfig==2.0.0 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
invoke==2.0.0 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
itsdangerous==2.1.2 ; python_full_version >= "3.8.1" and python_version < "4"
jinja2==3.1.2 ; python_full_version >= "3.8.1" and python_version < "4.0"
jsonschema==4.17.3 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
kombu==5.2.4 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
mako==1.2.4 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
markdown-it-py==2.2.0 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
markupsafe==2.1.2 ; python_full_version >= "3.8.1" and python_version < "4"
marshmallow==3.19.0 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
mccabe==0.7.0 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
mdit-py-plugins==0.3.4 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
mdurl==0.1.2 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
mypy-extensions==1.0.0 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
myst-parser==0.18.1 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
packaging==23.0 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
pathspec==0.11.0 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
pip-licenses==4.0.3 ; python_full_version >= "3.8.1" and python_version < "4.0"
pkgutil-resolve-name==1.3.10 ; python_full_version >= "3.8.1" and python_version < "3.9"
platformdirs==3.0.0 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
pluggy==1.0.0 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
prettytable==3.6.0 ; python_full_version >= "3.8.1" and python_version < "4.0"
prompt-toolkit==3.0.38 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
pycodestyle==2.10.0 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
pydocstyle==6.3.0 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
pyflakes==3.0.1 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
pygments==2.14.0 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
pyjwt==2.6.0 ; python_full_version >= "3.8.1" and python_version < "4"
pyrsistent==0.19.3 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
python-dotenv==0.21.1 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
pytz==2022.7.1 ; python_full_version >= "3.8.1" and python_version < "4.0"
pyyaml==6.0 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
redis==4.5.4 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
requests==2.28.2 ; python_full_version >= "3.8.1" and python_version < "4"
six==1.16.0 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
snowballstemmer==2.2.0 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
sphinx-click==4.4.0 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
sphinx==5.3.0 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
sphinxcontrib-applehelp==1.0.4 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
sphinxcontrib-devhelp==1.0.2 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
sphinxcontrib-htmlhelp==2.0.1 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
sphinxcontrib-jsmath==1.0.1 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
sphinxcontrib-qthelp==1.0.3 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
sphinxcontrib-redoc==1.6.0 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
sphinxcontrib-serializinghtml==1.1.5 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
sqlalchemy==2.0.4 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
tomli==2.0.1 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
typing-extensions==4.5.0 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
urllib3==1.26.14 ; python_full_version >= "3.8.1" and python_version < "4"
vine==5.0.0 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
wcwidth==0.2.6 ; python_full_version >= "3.8.1" and python_version < "4.0"
webargs==8.2.0 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
werkzeug==2.2.3 ; python_full_version >= "3.8.1" and python_version < "4"
yaml=1.2 ; python_full_version >= "3.8.1" and python_version < "4"
zipp==3.14.0 ; python_full_version >= "3.8.1" and python_version < "3.10"
